llama-cpp-python
InstructorEmbedding
sentence-transformers==2.2.2
huggingface_hub==0.19.4
transformers==4.38.1
langchain==0.3.24
langchain_community==0.3.22
streamlit==1.44.1
pypdf==5.4.0
unstructured==0.17.2
python-docx==1.1.2
faiss-cpu